$cor-do-fundo: #f5f6fa;
$cor-do-fundo-header: #182c61;
$cor-do-botao: #44bd32;
$cor-do-botao-hover: #4cd137;
$espacamento-padrao: 16px;
$espacamento-grande: 56px;
$espacamento-pequeno: 8px;
$borda-redonda: 16px;
$borda-redonda-do-botao: 8px;
